header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    padding: 20px 4%;
    background-color: var(--fundo);
}

header img {
    width: 200px;
    height: auto;
}

.cabecalho .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cabecalho .navegacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    width: 100%;
}

.cabecalho .navegacao .btn-menu {
    border: 1px solid var(--principal);
    width: 100%;
    padding: 10px 30px;
    color: var(--texto);
    text-align: center;
    word-spacing: 10px;
    font-size: 1.2rem;
    transition: transform .5s ease, box-shadow .6s ease;
    border-radius: 4px;
}

.btn-menu:hover {
    transform: translate(5px, -3px);
    box-shadow: 0 3px 9px var(--principal);
}

.cabecalho .descricao-header {
    text-align: center;
    font-family: var(--texto-diferente);
    font-size: 2.2rem;
    color: var(--fundo);
    text-shadow: 0 0 10px var(--principal);
    -webkit-text-stroke: .5px var(--cor-texto);
}

.cabecalho .btn-header {
    background-color: var(--destaque);
    padding: 10px 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--cor-texto);
    border: 1px solid var(--principal);
    border-radius: 5px;
    animation: pulsar ease-in-out infinite 1s;
}