@media (min-width: 768px) {

    header {
        padding: 5px 10px;
        background-color: var(--fundo);
    }

    .cabecalho .logo {
        flex-direction: row;
        justify-content: space-between;
    }

    .logo::after {
        content: " ";
        width: 100px;
        height: 100px;
    }
}

@media (min-width: 768px) {

    .cabecalho .navegacao {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        gap: .5rem;
        border: 1px solid var(--principal);
        padding: 30px;
}

    .cabecalho .navegacao .btn-menu {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
        width: 300px;
        word-spacing:5px;
        border: 1px solid var(--principal);
        padding: 20px 30px;
    }
}